#nav{
	margin-bottom: 0;
	
}

#nav .navbar-header{
	margin-left:10px;
}

.nav_head{
	margin-right:50px;
}

.nav_head .dropdown-toggle{
	min-height: 50px;
	padding: 15px;
}

.nav_head .dropdown-menu{
	min-height: 0px;
	width: 310px;
}

.nav_head .dropdown-menu li a div{
	white-space: normal;
	font-size:10px;
}

.nav_head .dropdown-user{
	margin-left:-59px;
}

